/* Add here all your CSS customizations */

/************** Search & Navigation header *******************/
header{
  top: 0px;
  width: 100%;
  padding: 5px;
  position: fixed;
  z-index: 10000000;
  background: rgba(255, 255, 255, 0.97);
  border-bottom: 1px solid #EEEEEE;
}

header .logo{
  height: 34px;
  margin: 8px 20px 8px 0;
  float: left;
}

header .input-group{
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 4px 4px 4px 0;
}

header .search-addon{
  background: white url(http://cdn.buyhappy.co/images/icon-search.png) no-repeat center center / 14px 14px;
  padding: 20px;
  border: 1px solid #EEEEEE;
  border-right: 0;
  border-radius: 3px 0px 0px 3px;
  float: right;
  -webkit-transition: border-color ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s;
}

header .search{
  float: right !important;
  width: calc( 100% - 42px ) !important;
  border-radius: 0px 3px 3px 0px !important;
  padding: 20px 20px 20px 0;
  border: 1px solid #EEEEEE;
  border-left: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}

header .form-control:focus, header .form-control:focus + .search-addon{
  border-color: #66afe9;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}

.content-padding{
  position: relative;
  height: 90px;
  width: 100%;
}
@media (max-width: 623px) {
  header .container{
    padding: 0 5px;
  }
  header .input-group{
    max-width: 100%;
  }
  header .logo{
    display: block;
    margin: 8px auto;
    position: relative;
    float: none;
  }
  .content-padding{
    height: 140px;
  }
}

/************** Product search item ****************/

.product-thumb-info{
  border: 1px solid #EEEEEE;
}

.product-thumb-info:hover{
  background-color: #F7F9FC;
}

.product-thumb-info-content{
  color: #0088cc;
}

.product-thumb-info:hover .product-thumb-info-image:before{
  opacity: .1;
  border-radius: 3px 3px 0 0;
}

.product-thumb-info-image{
  position:relative;
  width: 100%;
  height: 0px;
  padding-bottom: 100%; /* proportional scaling */
  background: white no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.product-thumb-info-image .img-responsive{
  max-width: 100%;
}

/************** Product page ****************/
.summary h1{
  margin-bottom: 20px;
}

.price{
  margin-bottom: 5px;
}

.buy-now{
  margin: 16px 0 5px 40px;
  padding: 8px 30px;
}

#vendor-name{
  font-size: 20px;
  color: #000000;
  font-weight: 200;
}

table.alternate-prices{
  width: 100%;
  max-width: 400px;
  border-radius: 5px !important;
  margin: 20px 0;
  font-weight: 300;
  letter-spacing: .7px;
  box-shadow: 0px 0px 7px #DDDDDD;
}

table.alternate-prices th{
  font-weight: 300;
  letter-spacing: .7px;
  color: #0088cc;
  border-bottom: 1px solid #eee !important;
  padding: 13px !important;
}

table.alternate-prices td{
  border: 0 !important;
  padding: 8px 13px 0px 13px !important;
}

table.alternate-prices td:last-child{
  text-align: right;
}

table.alternate-prices tr:first-child td{
  padding-top: 13px !important;
}

table.alternate-prices tr:last-child td{
  padding-bottom: 13px !important;
}

.full-size-product{
  width: 100%;
  border: 1px solid #eee;
  margin-bottom: 20px;
}

.shop .tabs-product{
  margin-top: 0px;
}

.shop .product_meta{
  margin-bottom: 20px;
}

/**************** Footer *******************/
#footer{
  background: #2c3e50;
  border: 0;
}

#footer p{
  color: #CCCCCC;
}

#footer .footer-copyright{
  background: #243341;
  border: 0;
  color: #CCCCCC;
  line-height: 30px;
}

#footer .footer-copyright p{
  color: #CCCCCC;
  padding-top: 5px;
}

#footer .logo{
  max-width: 200px;
}
