/* Add here all your CSS customizations */

/************** Global *****************/
html, body, h1, h2, h3, h4, h5, h6, div, span, strong, table, tr, th, td{
  font-family: "proxima-nova", sans-serif !important;
}

html, body{
  background: #FCFCFC;
}

html, body, .body{
  background: #FCFCFC;
  height: 100%;
}

/************** Home Page *****************/
#home-page-cover{
  background: #EEEEEE url(/img/background.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#home-page-cover nav{
  width: 100%;
  padding: 5px;
}

#home-page-cover .logo{
  height: 28px;
  margin: 11px 20px 11px 0;
  float: left;
}

#cover-content{
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 16%;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
}

#cover-content .title{
  font-size: 4em;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0 10px;
}

#cover-content .sub-title{
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 0 10px;
}

#cover-content .search{
  margin-top: 15px;
  margin-left: 3%;
  width: 70%;
  border-radius: 3px;
  padding: 20px;
  border: 1px solid #EEEEEE;
  border-left: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  float: left;
}

#cover-content .submit{
  float: left;
  margin-left: 3%;
  margin-right: 3%;
  width: 21%;
  padding: 10px;
  margin-top: 15px
}

.homepage{
  background: white;
}

.homepage .phone-group{
  padding-top: 50px;
}

.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:focus{
  color: white;
  text-decoration: none;
  padding: 12px;
  font-size: 1.2em;
  font-weight: bold;
  outline:0px !important;
  -webkit-appearance:none;
}

.dropdown-menu{
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}

/************** Search & Navigation Header *******************/
header{
  top: 0px;
  width: 100%;
  padding: 5px;
  position: fixed;
  z-index: 10000000;
  background: rgba(255, 255, 255, 0.97);
  border-bottom: 1px solid #EEEEEE;
}

header .logo{
  height: 28px;
  margin: 11px 20px 11px 0;
  float: left;
}

header .input-group{
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 4px 4px 4px 0;
}

header .search-addon{
  background: white url(http://cdn.buyhappy.co/images/icon-search.png) no-repeat center center / 14px 14px;
  padding: 20px;
  border: 1px solid #EEEEEE;
  border-right: 0;
  border-radius: 3px 0px 0px 3px;
  float: right;
  -webkit-transition: border-color ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s;
}

header .search{
  float: right !important;
  width: calc( 100% - 42px ) !important;
  border-radius: 0px 3px 3px 0px !important;
  padding: 20px 20px 20px 0;
  border: 1px solid #EEEEEE;
  border-left: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}

header .form-control:focus, header .form-control:focus + .search-addon{
  border-color: #66afe9;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}

.content-padding{
  position: relative;
  height: 90px;
  width: 100%;
}
@media (max-width: 623px) {
  header .container{
    padding: 0 5px;
  }
  header .input-group{
    max-width: 100%;
  }
  header .logo{
    display: block;
    margin: 8px auto;
    position: relative;
    float: none;
  }
  .content-padding{
    height: 140px;
  }
}

/************** Product search item ****************/

.product-thumb-info{
  border: 1px solid #EDEDED;
  border-radius: 5px;
  background: #FAFAFA;
}

.product-thumb-info .amount{
  color: #008BFF;
}

.product-thumb-info:hover{
  background-color: #FAFAFA;
}

.product-thumb-info-content h4{
  color: #4D4D4D;
}

.product-thumb-info:hover .product-thumb-info-image:before{
  opacity: .1;
  border-radius: 3px 3px 0 0;
}

.product-thumb-info-image{
  position:relative;
  width: 100%;
  height: 0px;
  padding-bottom: 100%; /* proportional scaling */
  background: white no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.product-thumb-info-image .img-responsive{
  max-width: 100%;
}

/************** Product page ****************/
.summary h1{
  margin-bottom: 10px;
}

.price{
  margin-bottom: 5px;
}

.buy-now{
  margin: 28px 0 5px 40px;
  padding: 8px 30px;
  float: left;
}

#vendor-name{
  font-size: 20px;
  color: #000000;
  font-weight: 200;
  color: #444;
}

table.alternate-prices{
  width: 100%;
  max-width: 400px;
  border-radius: 5px !important;
  margin: 0 0 20px 0;
  font-weight: 300;
  border: 1px solid #EEEEEE;
  background: white;
  overflow: hidden;
}

table.alternate-prices th{
  font-weight: 300;
  letter-spacing: .7px;
  color: #0088cc;
  border-bottom: 1px solid #eee !important;
  padding: 13px !important;
}

table.alternate-prices td{
  border: 0 !important;
  padding: 8px 13px 0px 13px !important;
  cursor: pointer;
}

table.alternate-prices td:last-child{
  text-align: right;
}

table.alternate-prices tr:first-child td{
  padding-top: 13px !important;
}

table.alternate-prices tr:last-child td{
  padding-bottom: 13px !important;
}

.full-size-product{
  width: 100%;
  border: 1px solid #eee;
  margin-bottom: 20px;
}

.shop .tabs-product{
  margin-top: 0px;
}

.shop .product_meta{
  margin-bottom: 20px;
}

/**************** Footer *******************/
#footer{
  background: #2c3e50;
  border: 0;
}

#footer p{
  color: #CCCCCC;
}

#footer .footer-copyright{
  background: #243341;
  border: 0;
  color: #CCCCCC;
  line-height: 40px;
}

#footer .footer-copyright p{
  color: #CCCCCC;
  padding-top: 7px;
}

#footer .logo{
  max-width: 200px;
}
